<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Swift _TextFieldDelegates.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0174C3071E5B69DA009FDEDD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0174C31B1E5B69DA009FDEDD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0174C3261E5B69DB009FDEDD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
